---
import { ViewTransitions } from "astro:transitions";
import Footer from "~/components/svelte/footer.svelte";
import Menu from "~/components/svelte/menu.svelte";
import Sidebar from "~/components/vue/sidebar.vue";

import "@fontsource-variable/raleway";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<script>
	import { isMenuOpenStore } from "~/stores/menu";

	isMenuOpenStore.listen((isMenuOpen) => {
		const heroSection = document.querySelector("main section:first-child");
		const sidebar = document.querySelector("aside");

		if (document.body.clientWidth > 1024) {
			heroSection?.scrollIntoView({ behavior: "smooth" });
		} else {
			sidebar?.scrollIntoView({ behavior: "smooth" });
		}

		document.body.style.height = isMenuOpen ? "100vh" : "auto";
		document.body.style.overflow = isMenuOpen ? "hidden" : "auto";
	});
</script>

<html lang="en" >
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<ViewTransitions />
	</head>
	<body class="flex flex-col lg:flex-row bg-black text-white">
		<Sidebar client:load />
		<main class="relative flex-1">
			<Menu client:load />
			<slot />
			<Footer client:load />
		</main>
	</body>
</html>

<style is:global>
body {
	font-family: 'Raleway Variable', sans-serif;
}
</style>