---
import { ViewTransitions } from "astro:transitions";
import { Sidebar } from "~/components/vue";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<meta name="viewport" content="width=device-width" />
		
		<title>{title}</title>

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<ViewTransitions />
	</head>
	<body class="flex">
		<Sidebar client:load />
		<div class="m-0 h-screen divider divider-vertical"></div>
    <main class="flex-1">
      <slot />
    </main>
	</body>
</html>
